<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Invoice #<%= @invoice.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Project</dt>
              <dd><%= @invoice.project_id %></dd>

              <dt>Amount</dt>
              <dd><%= @invoice.amount %></dd>

              <dt>Labor</dt>
              <dd><%= @invoice.labor %></dd>

              <dt>User</dt>
              <dd><%= @invoice.user_id %></dd>

              <dt>Material</dt>
              <dd><%= @invoice.material %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/invoices" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/invoices/<%= @invoice.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_invoice/<%= @invoice.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
