<!-- Validation failure messages -->

<% if @project.errors.any? %>
<% @project.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Project #<%= @project.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_project/<%= @project.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for project_type -->
          <div class="form-group">
            <label for="project_type" class="col-sm-2 control-label">
              Project type*
            </label>
            <div class="col-sm-10">
              <select id="project_type" name="project_type" class="form-control" value="<%= @project.project_type %>">
                <option>Kitchen</option>
                <option>Bathroom</option>
                <option selected="selected"><%= @project.project_type %></option>
              </select>
            </div>
          </div>

          <!-- Label and input for material -->
          <div class="form-group">
            <label for="material" class="col-sm-2 control-label">
              Material*
            </label>
            <div class="col-sm-10">
              <select id="material" name="material"  class="form-control" value="<%= @project.material %>">
                <option>Ceramic</option>
                <option>Glass</option>
                <option>Limestone</option>
                <option>Marble</option>
                <option selected="selected"><%= @project.material %></option>

              </select>
            </div>
          </div>

          <!-- Label and input for design -->
          <div class="form-group">
            <label for="design" class="col-sm-2 control-label">
              Design*
            </label>
            <div class="col-sm-10">
              <select id="design" name="design" placeholder="Design" class="form-control" value="<%= @project.design %>">
                <option>Standard</option>
                <option>Diagonal</option>
                <option>Brick</option>
                <option selected="selected"><%= @project.design %></option>

              </select>
            </div>
          </div>

          <!-- Label and input for square_feet -->
          <div class="form-group">
            <label for="square_feet" class="col-sm-2 control-label">
              Square feet*
            </label>
            <div class="col-sm-10">
              <input type="text" id="square_feet" name="square_feet" placeholder="Square feet" class="form-control" value="<%= @project.square_feet %>">
            </div>
          </div>

          <!-- Label and input for home_type -->
          <div class="form-group">
            <label for="home_type" class="col-sm-2 control-label">
              Home type*
            </label>
            <div class="col-sm-10">
              <select id="home_type" name="home_type" placeholder="Home type" class="form-control" value="<%= @project.home_type %>">
                <option>Existing Home</option>
                <option>New Home</option>
                <option>Apartment</option>
                <option selected="selected"><%= @project.home_type %></option>

              </select>
            </div>
          </div>

          <!-- Label and input for image -->
          <div class="form-group">
            <label for="image" class="col-sm-2 control-label">
              Image
            </label>
            <div class="col-sm-10">
              <input type="text" id="image" name="image" placeholder="Image of space or blueprints" class="form-control" value="<%= @project.image %>">
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @project.description %></textarea>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Project
              </button>
              or
              <a href="/projects/<%= @project.id %>">Cancel</a>
            </div>
          </div>
        </form>
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          <p>*Indicates required item</p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
